header{
    font-family: monospace;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color:#800000;
    padding: 20px;
}

header *{
    display: inline;
    height:50px;
}

header ul{
    padding: 20px;
}

header li{
    margin-left: 20px;
}

body{
    font-family: monospace;
    margin-top: 50px;
    background-color: azure;
}

footer{
    font-family: monospace;
    background-color: azure;
    margin: auto;
    text-align: center;
}

#about-us{
    background-color: #d3d3d3;
    margin: 0;
    color: black;
    text-align: right;
}

#states{
    background-color: #800000;
    margin: 0;
    text-align: center;
}

#resources{
    background-color: #d3d3d3;
    margin: 0;
    text-align: center;
}

/* navigation bar */
.navigation, #navbar{
    margin: 3px;
    padding: 3px;
    display: flex;
} 

/* links in navigation bar */
li{
    margin: 2px;
    padding: 2px;
    /*display: flex;*/
}

/* subnavigation in the navigation bar */
.subnavigation{
float: left;
overflow: hidden;
}

/* Big box of the states */
#Big1{
    padding: 10px;
    display: flex;
    flex-direction:row;
    border: solid 1px black;
}

/* State Boxes */
#Box2,#Box3,#Box4{
    padding: 10px;
    text-align: center;
    flex-grow: 2;
    border: solid 1px black;
}

/* Picture */
#dog-pic{
    width: 500px; 
    height: 333px;
    padding-left: 100px;
}

/* Table of about us and picture */
table{
    padding: 50px;
    table-layout: fixed;
    width: 90%;
    display: flex;
}

td{
    width: 45%;
}