.navbar {
    overflow: hidden;
    background-color: #4c4c5c;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightblue;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    display: block;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

body{
    font-family: monospace;
    margin-top: 0px;
    background-color: lightgray;
}

footer{
    font-family: monospace;
    background-color: lightgrey;
    margin: auto;
    text-align: center;
}

#about-us{
    background-color: lightgrey;
    margin: 0;
    color: black;
    text-align: left;
}

h2{
    text-align: Center;
}

#states{
    background-color:lightgrey;
    margin: 0;
    text-align: left;
}

#resources{
    background-color: lightgrey;
    margin: 0;
    text-align: Left;
}

/* navigation bar */
.navigation, #navbar{
    margin: 0px;
    padding: 0px;
    display: flex;
} 

/* links in navigation bar */
li{
    margin: 2px;
    padding: 2px;
    /*display: flex;*/
}

/* subnavigation in the navigation bar */
.subnavigation{
float: left;
overflow: hidden;
}

/* Big box of the states */
#Big1{
    padding: 10px;
    display: flex;
    flex-direction:row;
    border: solid 1px black;
}

/* State Boxes */
#Box2,#Box3,#Box4{
    padding: 10px;
    text-align: center;
    flex-grow: 2;
    border: solid 1px black;
}

/* Picture */
#dog-pic{
    width: 500px; 
    height: 333px;
    padding-left: 100px;
}

/* Table of about us and picture */
table{
    padding: 50px;
    table-layout: fixed;
    width: 90%;
    display: flex;
}

td{
    width: 45%;
}